<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013673343582-9a6f2fvmn41gfnl26quv121d0gjk7ush.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013673343582-9a6f2fvmn41gfnl26quv121d0gjk7ush</string>
	<key>API_KEY</key>
	<string>AIzaSyC98ZVSdJexr5kkZRBMmpQFE4JfBbhVxDg</string>
	<key>GCM_SENDER_ID</key>
	<string>1013673343582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackthonApplication</string>
	<key>PROJECT_ID</key>
	<string>hackathon-project-f3afd</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-project-f3afd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013673343582:ios:0a7bf0cf9e82c7bbc352cf</string>
</dict>
</plist>